body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Estilos para el título */
.titulo {
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Estilos para el enlace "Crear Libro" */
.enlace-crear {
  display: block;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos para los elementos de la lista */
.elemento-lista {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el enlace "Ver más" */
.enlace-ver-mas {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}
